/* This is a comment */
#intro {
  color: red;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.default {
  color: green;
  border: 1px solid black;
  float: right;
  height: 50px;
}

#special-one {
  font-size: 22px;
}

.text-center {
    text-align:center;
}

body {
background-color: #dadada;
background-image: url("https://www.shropshirestar.com/resizer/ryxr-4I1l3BVQloKAJrAJsHt2k8=/1000x0/filters:quality(100)/arc-anglerfish-arc2-prod-shropshirestar-mna.s3.amazonaws.com/public/T24IKCMEE5BJHKBNDCINJK7ESE.jpg");

}
