* { box-sizing: border-box;}

div {
  border: thin solid black;
}

#sidebar {
  float: left;
  width: 30%;
  overflow: hidden;
}

#content {
  float: right;
  width: 70%;
}

#pin {
  border: 1px dashed black;
  position: fixed;
  top: 10px;
  right: 0;
}

.img-right {
  float: right;
}

.img-left {
  float: left;
}

.img-small {
  width: 150px;
  border: 1px solid #dadada;
  padding: 5px;
}

.img-mini {
  width: 50px;
  background-color: red;
  padding: 2px;
}
