* { box-sizing: border-box; }

div { border: thin solid black; }

body { margin: 0; }

#main-wrapper { margin: 0 auto; }

#header { position: fixed; width: 100%; background-color: red; }
#header-menu { width: 50%; float: left;  }

#header-menu ul {  }
#header-menu li { list-style-type: none; float: left; border: thin solid black; padding: 1%; }


#header-menu li a { color: black; }
#header-menu li:hover   { background-color: blue; color: white;}
#header-menu li a:hover   {color: white;}

#header-menu ul li ul li { display: none;}
#header-menu ul li:hover ul li { display: block;}

#header-form { width: 50%; float: right; }

#content { border: 1px solid red; padding-top: 2%;}
#content-left { width: 50%; float: left; }
#content-right { width: 50%; float: right; }

.post { }
.img-post { width: 33%; border: thin solid #dadada; padding: 1%;}
.img-post-right { float: right;}
.img-post-left { float: left;}

.clearfix { clear: both; }

.footer-column { width: 33%; float: left;}

img { max-width: 100%; }
