* { box-sizing: border-box; }
.img-container { background-image: url("images/fast.jpg"); height: 640px; background-repeat: no-repeat; width: 640px;}
.img-button { padding: 10px; background-color: green; text-decoration: none; color: black; margin: 0 auto; position: relative; top: 50%; left: 50%;}
