* { box-sizing: border-box;}


div {
  border: 1px solid black;
}

#sidebar {
  float: left;  
  width: 30%;
  overflow: hidden;
}

#content {
  width: 70%;  
  border: 1px solid red;
  float: right;
}

.img-right {
  float: right;
}

.img-left {
  float: left;
}

#logo {
  width: 10%;
  float: right;
}

.img-small {
   width: 100px;  
}

.clearfix {
  clear: both;
}
