* {
	    box-sizing: border-box;
}

body { margin: 0; padding: 0;  }
div {  }
img { max-width: 100%; }

#wrapper { margin-top: 37px; }
#header { border: thin solid red; }

#navbar {  
	border: thin solid green;
	background-color: #104da1;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
	border: thin solid green;
	list-style-type: none;
	float: left;
	padding: 1%;
	background-color: #104da1;
}

#navbar a {
	text-decoration: none;
	color: white;
}

#navbar-right { width: 40%; float: right; border: thin solid blue; }
#navbar-left { width: 60%; float: left; }

#left-menu { width: 25%; float: left; }
#right-menu { width: 25%; float: right; }
#content { width: 50%; float: left; padding: 1%; }
#footer {  }

.clearfix{ clear: both;}

.logo {}
#header-logo { color: red; float: right; }
.header-title {}
.header-subtitle {}

/* clearfix by css only */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}
