* {
  box-sizing: border-box;
}

div { border: 1px solid black; }

#header { }

#left-menu { float: left; width: 30%; }
#content { float: right; width: 70%; }

#footer {  }

.clearfix { clear: both; }
