* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
    background-color: #000000;
    color: white;
}

#wrapper {
  width: 60%;
  margin: 0 auto;
}

#header {background-color: gray; }

#header-logo {
  padding: 2em;
  float: left;
  max-width: 100%;
}

#header-countdown {
  padding: 2em;
  float: right;
  max-width: 100%;
}

#header-left { float: left; width: 50%; }
#header-right { float: right; width: 50%; }

#banner img {
  width: 100%;
  max-width: 100%;
}

#content, #footer {
background-color: gray;
}

.content-line {
  padding: 1em;
}



.content-column {
  width: 25%;
  float: left;
  text-align: center;

  color: #000000;
  padding: 1em;

}

.content-column-image {
    text-align: center;
    padding: 1em;
}

.content-column-title {
    padding-bottom: 1em;
}

.content-column-title, .content-column-description, .content-column-image {
background-color: #ffffff;
}

.content-column-description {
padding: 1em;
}

.content-column-image img {

    width: 33%;
    border-color: #24b0ac;
    border-width: 2em;
    border-radius: 50%;
}

#footer {
  color: #000000;
  padding: 1em;
}

#footer-box {
    background-color: #ffffff;
    border-left: 1em solid #24b0ac;
    padding: 1em;
}

.btn {
  padding: 1em;
}

.blue-btn {
  background-color: #24b0ac;
  float: right;
}

/* Código para ahcer el clearfix en la capa header */
#header::after,
.content-line::after,
#content::after,
#footer-box:after {
  content: "";
  display: table;
  clear: both;
}



/* INICIO MENU (NAVBAR) */


 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* FIN MENU (NAVBAR) */



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .content-column {
        width: 100%;
    }

    #header-left, #header-right {
        width: 100%;

    }
}
